.active {
	background-color: #dfdfdf;
}
.classe,
#listeCat li:hover ,
#listeImg li:hover ,
#catImgUpdate li:hover {
	background-color: #eee;
}
ul {
	list-style: none;
}
#listeSearchCat, #listeCat {
   margin-top: 10px;
}
#listeSearchCat li,
#listeCat li{
	cursor: pointer;
	margin-bottom: 3px;
}
.id, .descr {
   display: none;
}
#doneChangeSettings, #errChangeSettings, #doneCatAdd, #doneChangeImage, #errChangeImage, #doneChangeAccount, #errChangeAccount, #errCatAdd{
   display: none;
}
 #btnCatUpdate, #btnImgUpdate, #changeName, #changePass, .delete {
   width: 100%;
   margin-top: 10px;
}
#uploadFrame{
   display: none;
}

#dropfile{
	width: 90%;
	line-height:32px;
	text-align: center;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
#uploadContain {
	width: 100%;
	position: relative;
	height: 34px;
	overflow: hidden;
}
#uploadContainIn{
	position: absolute;
	top: 0px;
	width: 100%;
}
#uploadDown {
	float: right; 
	height: 34px; 
	width: 10%;
	text-align: center; 
	background: url('img/uploadDown.png') center center no-repeat;
	cursor: pointer;
}
#uploadUp {
	float: right; 
	height: 34px; 
	width: 10%;
	text-align: center; 
	background: url('img/uploadUp.png') center center no-repeat;
	cursor: pointer;
}
#inputFileUploadImg {
	width: 90%;
}
#textSearchImg, #listeImg {
	margin-top: 10px;
}
#textSearchCat, #textSearchImg, #listeImg li{
	cursor: pointer;
	margin: 0px 0px 5px 0px;
}
#listeImg img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}
#catImgUpdate {
	margin-top: 10px;
}
#catImgUpdate li {
	cursor: pointer;
	margin-bottom: 3px;
}
.selected {
	font-weight: bold;
	background: rgba(250, 250, 250, 0.8);
}
#checkAllLink {
	font-size: 12px;
	float: left;
	margin-top: 15px;
}
.clear {
	float: right;
	cursor: pointer;
}
#settings {
	background: #fff!important;
}
.headItemOption {
	font-weight: bold;
	font-size: 1.2em;
}
.itemOption  input[type=checkbox]{
	width: 34px;
	display: inline;
}
.itemOption img{
	margin-left: 7px;
	cursor: pointer;
}
.footerItemOption{
	margin-top: 10px;
}
#addRowOption {
	margin-right: 7px;
	cursor: pointer;
}