li:hover {
	background-color: #eee;
}
ul {
	list-style: none;
}
#listeCat {
   margin-top: 10px;
}
#listeCat li{
	cursor: pointer;
	margin-bottom: 3px;
}
.id {
   display: none;
}
#errCatAdd{
   
}
.delete {
   width: 100%;
   margin-top: 10px;
}
#uploadFrame{
   display: none;
}

#dropfile{
	width: 100%;
	line-height:32px;
	text-align: center;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

#listeImg {
	margin-top: 10px;
}
#listeImg li{
	cursor: pointer;
	margin: 5px 0px 5px 0px;
}
#listeImg img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}
#catImgUpdate {
	margin-top: 10px;
}
#catImgUpdate li {
	cursor: pointer;
	margin-bottom: 3px;
}
.selected {
	font-weight: bold;
	background: rgba(250, 250, 250, 0.8);
}